  .goog-te-menu-value {
    color: black !important;
    /* font-size: 0px; */
  }


  #arogyaone {
    font-size: 18px;
    font-weight: 800;
    color: #FF8C00
  }

  #arogyatwo {
    font-size: 15px;
    font-weight: 800 !important;
    color: green;
  }

  #arogyathree {
    font-size: 12px;
    color: gray;
  }

  .containerone {
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
  }
  #borderbox{
    background-color: #FA575D;
  }
  .containertwo{
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
  }

.boxshadow{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #F7FAFE;
  }

  .chat_for_bussiness{
    font-family: sans-serif;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    background: #25d366;
  }

  .chat_for_bussiness a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
  