  .goog-te-menu-value {
    color: black !important;
    /* font-size: 0px; */
  }


  #arogyaone {
    font-size: 22px;
    font-weight: 800;
    color: #FA575D;
    margin-top: 15px;
  }

  #arogyatwo {
    font-size: 15px;
    font-weight: 800 !important;
    color: green;
  }

  #arogyathree {
    font-size: 12px;
    color: gray;
  }

  .containerone {
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
  }

  .containertwo {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
  }


  .chat_for_bussiness {
    font-family: sans-serif;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    background: #25d366;
  }

  .chat_for_bussiness a,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
    color: inherit;
  }

  .modal-content.support-modal {
    background-color: #ECECEA;
  }

  .modal-header {
    border-bottom: none;
  }

  .modal-body.modal-body-sub_agile {
    padding: 0 1em 2em 2em;
    margin-top: 1em;
    margin-bottom: 50px;
  }

  h3.agileinfo_sign {
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 2em;
  }

  .button-6 {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    box-shadow: rgb(50 50 105 / 15%) 0px 2px 5px 0px, rgb(0 0 0 / 5%) 0px 1px 1px 0px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  .admin-image {
    width: 3rem;
    margin-bottom: 1rem;
}
.cta-section {
  background-image: url(../img/background-img-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
}
.appointment-form2{
  width: 77%;
}
#notification-font {
  font-weight: 700!important;
  font-size: 28px;
}
.service-box {
  background-color: #fff;
  position: relative;
  box-shadow: 0px 20px 30px 5px rgb(61 1 4 / 10%);
  overflow: hidden;
  position: relative;
  transition: all ease 700ms;
  -moz-transition: all ease 700ms;
  -webkit-transition: all ease 700ms;
  -ms-transition: all ease 700ms;
  -o-transition: all ease 700ms;
  z-index: 1;
  height: 360px;
}
#cardbox{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



@media only screen and (max-width: 300px) {
.appointment-form2{
margin-left: 1.5rem;
  }
  .founder{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .subscribe-wrap{
    padding: 15px 20px;
    height: 270px;
  }
  .subscribe-wrap .child {
    visibility: hidden;
  }
  .subscription{
    margin-top: 4.5rem;
    margin-right: 2rem;
  }
  .subscribe-form .form-input{
    padding-right: 0px;
  }
  .page-item.bannercenter{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loginbuton{
    display: flex;
  
  }
  .button-6 {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    box-shadow: rgb(50 50 105 / 15%) 0px 2px 5px 0px, rgb(0 0 0 / 5%) 0px 1px 1px 0px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(-1.125rem - 1px) calc(0.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}
a, a:hover, img, .form-control, .form-control:hover, button {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
  
}

@media only screen and (min-width: 300px) and (max-width:500px) {
  .appointment-form2{
  margin-left: 2rem;
    }
    .founder{
      display: flex;
      align-items: center;
      justify-content: center;
    
    }
    .subscribe-wrap{
      padding: 15px 20px;
      height: 270px;
    }
    .subscribe-wrap .child {
      visibility: hidden;
    }
    .subscription{
      margin-top: 4.5rem;
      margin-right: 5rem;
    }
    .subscribe-form .form-input{
      padding-right: 0px;
    }
    .page-item.bannercenter{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .loginbuton{
      display: flex;
    
    }
    
    
  }


  .about-doctor-area .doctor-info .info-top .catagory {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    color: #666666;
}
.about-doctor-area .doctor-info .info-top h2 {
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 600;
  text-transform: capitalize;
  color: #333333;
}
.about-doctor-area .doctor-info .info-bottom h3 {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  padding-bottom: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  border-bottom: 1px solid rgba(102, 102, 102, 0.5);
}
.about-doctor-area .doctor-info .info-top .fee {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  color: #245BD0;
  background: #F7F7F7;
}