  .goog-te-menu-value {
    color: black !important;
    /* font-size: 0px; */
  }


  #arogyaone {
    font-size: 18px;
    font-weight: 800;
    color: #FF8C00
  }

  #arogyatwo {
    font-size: 15px;
    font-weight: 800 !important;
    color: green;
  }

  #arogyathree {
    font-size: 12px;
    color: gray;
  }

  .containerone {
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
  }

  #borderbox {
    background-color: #FA575D;
  }

  .containertwo {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
  }


  .chat_for_bussiness {
    font-family: sans-serif;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    background: #25d366;
  }

  .chat_for_bussiness a,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
    color: inherit;
  }

  .modal-content.support-modal {
    background-color: #ECECEA;
  }

  .modal-header {
    border-bottom: none;
  }

  .modal-body.modal-body-sub_agile {
    padding: 0 1em 2em 2em;
    margin-top: 1em;
    margin-bottom: 50px;
  }

  h3.agileinfo_sign {
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 2em;
  }

  .button-6 {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    box-shadow: rgb(50 50 105 / 15%) 0px 2px 5px 0px, rgb(0 0 0 / 5%) 0px 1px 1px 0px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  .admin-image {
    width: 3rem;
    margin-bottom: 1rem;
}
.cta-section {
  background-image: url(../img/background-img-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
}
.appointment-form2{
  width: 77%;
}
#notification-font {
  font-weight: 700!important;
  font-size: 28px;
}
.service-box {
  background-color: #fff;
  position: relative;
  box-shadow: 0px 20px 30px 5px rgb(61 1 4 / 10%);
  overflow: hidden;
  position: relative;
  transition: all ease 700ms;
  -moz-transition: all ease 700ms;
  -webkit-transition: all ease 700ms;
  -ms-transition: all ease 700ms;
  -o-transition: all ease 700ms;
  z-index: 1;
  height: 360px;
}
