#s {
  height: 120px;
  width: 90%;
  margin: 0px auto;
  box-shadow: 0px 0px 10px 0px;
  background: white;
  border-radius: 10px;
}

#cardbox {
  background: white;
  margin-top: 100px;
  min-height: calc(100vh - 95px);
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
.btn-group,
.btn-group-vertical {
  position: relative;
  margin-left: 62%;
  width: max-content;
  margin-bottom: 26px;
}

.card-heading{
  font-family: ui-sans-serif;
  padding-top: 2.5rem;
}


@media  (max-width : 420px) {
  .btn-group, .btn-group-vertical {
    position: relative;
    right: 14rem;
    width: max-content;
    font-size: 12px;
}

}
.table-responsive{
  overflow-y:hidden;
}
.search{
  margin-top: -1px;
}
.inputrow{
  margin-left: 9rem!important;
}
@media (max-width: 768px){
.btn-group, .btn-group-vertical {
    position: relative;
    right: 13rem;
    width: max-content;
    font-size: 12px;
}
.card-heading{
  font-size: 30px;
}
.inputrow {
  margin-left: 0rem !important;

}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
  .btn-group, .btn-group-vertical {
    position: relative;
    right: 16rem;
    width: max-content;
    font-size: 12px;
}
  }

  @media only screen and (min-device-width : 1024px) and (max-device-width : 1317px){
    .btn-group, .btn-group-vertical {
      position: relative;
      right: 3.5rem;
      width: max-content;
      font-size: 12px;
  }
}

/* @media (max-width: 991px) {
    .btn-group,
    .btn-group-vertical {
      position: relative;
      right: 67%;
      width: max-content;
      font-size: 12px;
    }
} */

/* @media (max-width: 1199px) {
    .btn-group,
    .btn-group-vertical {
      position: relative;
      right: 67%;
      width: max-content;
      font-size: 12px;
    }
} */